.fuenteChin{
    font-family: 'ChinUpButtercupCuteCaps';
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    color: #F9E53C;
}
.fuenteChin_H1{
    font-family: 'ChinUpButtercupCuteCaps';
    color:#F9E53C;/* #F9E53C;*/
}
.logoAmarillo{
    width: 40%;
    display:block;
    margin:auto;
}
.fuenteChin_H3{
    font-family: 'ChinUpButtercupCuteCaps';
    font-size: 3.5rem;
    color: blue;/* #F9E53C;*/
}
.fuenteChin_H4{
    font-family: 'ChinUpButtercupCuteCaps';
    font-size: 2.5rem;
    color: blue;/* #F9E53C;*/
}
.logopala{
   /* width: 100%;*/
    /*margin-top: 25px;*/
}
.espacio{
    visibility: hidden;
}
.comentario{
    color:white;
}
a:hover {
    color: #1717FF;
    cursor: pointer;
  }
.derechosReservados{
    font-size: 12px;
}
